//mixin
@mixin fonts($size, $weigth) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weigth;
}


body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
  .belgium {
  display: flex;
  justify-content: center;

  @include fonts(3vw, 300);
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 5%;
  .date {
    display: flex;
    flex-direction: column;
    background-color: aqua;

    justify-content: center;
    width: 20vw;
    height: 20vw;
  }
}
}

